#### {{ entity.name | default("Unknown Feat") }}
{% if entity.prerequisite %}

*Prerequisite: {{ entity.prerequisite | prerequisite_text }}*
{% endif %}

{{ entity.entries | default([]) | render_entries }}
